<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Games</h3>
        </div>
        <div class="card-body">
          <table class="table align-middle">
            <thead>
            <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Created At</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let game of games">
              <th>{{ game.id }}</th>
              <td>{{ game.description }}</td>
              <td>{{ game.created_at | date }}</td>
              <td>
                <div class="justify-content-end d-flex my-1">
                  <div class="btn-group btn-group-sm">
<!--                    <button (click)="openGame(game)" class="btn btn-sm btn-info">Open</button>-->
                    <a href="#" [routerLink]="[game.id]" [state]="{data: {currentGame: game}}"
                       class="btn btn-sm btn-info">View</a>
                    <a href="#" [routerLink]="[game.id, 'edit']" [state]="{data: {currentGame: game}}"
                       class="btn btn-sm btn-warning">Edit</a>
                    <button (click)="deleteGame(game)" class="btn btn-sm btn-danger">Delete</button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12 my-2">
              <a href="#" routerLink="/admin/games/create" class="btn btn-sm btn-success">Create New Game</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
