<div class="container">
  <div class="row my-2 justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header">
          <h6 class="text-center font-weight-light my-2">User</h6>
          <h1 class="text-primary col-md-12 text-center">{{ user.player?.name }}</h1>
        </div>
        <div class="card-body px-4">

          <div class="row my-2">
            <div class="col-3">
              <strong>ID:</strong>
            </div>
            <div class="col-9">
              <span>{{ user.id }}</span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-3">
              <strong>Email:</strong>
            </div>
            <div class="col-9">
              <span class="text-secondary">{{ user.email }}</span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-3">
              <strong>Created At:</strong>
            </div>
            <div class="col-9">
              {{ user.player?.created_at | date }}
            </div>
          </div>
          <div class="row my-2">
            <div class="col-3">
              <strong>Updated At:</strong>
            </div>
            <div class="col-9">
              {{ user.player?.updated_at | date }}
            </div>
          </div>

          <div class="mb-0">
            <div class="justify-content-end d-flex my-1">
              <div class="btn-group btn-group-sm">
                <a href="#" routerLink=".." class="btn btn-info">Back</a>
                <a href="#" routerLink="edit" class="btn btn-warning">Edit</a>
                <button type="button" (click)="deleteUser(user)" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

