<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Create New Word</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="submit()" class="needs-validation">
            <div *ngFor="let category of categories" class="form-row">
              <app-control [category]="category" [formGroup]="form"></app-control>
              {{category.description}}
              <div *ngIf="false" class="mb-5 position-relative">
                <div class="form-floating">
                  <input formControlName="name"
                         id="{{category.name}}"
                         type="text"
                         required
                         placeholder="{{category.name}}"
                         class="form-control"
                         [class.is-valid]="f['content'].touched && f['content'].valid"
                         [class.is-invalid]="f['content'].touched && f['content'].invalid"
                  >
                  <label [attr.for]="category.name">{{category.name}}</label>
                </div>
              </div>

            </div>
            <div class="mb-0">
              <div class="d-flex justify-content-between">
                <a href="#" routerLink="/user/word/index" class="btn btn-info">Back</a>
                <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

