<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Create New Game</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="submit()" class="needs-validation">
            <div class="mb-5 position-relative">
              <div class="form-floating">
                <input formControlName="description"
                       id="description"
                       type="text"
                       required
                       placeholder="Game Name"
                       class="form-control"
                       [class.is-valid]="f['description'].touched && f['description'].valid"
                       [class.is-invalid]="f['description'].touched && f['description'].invalid"
                >
                <label for="description">*Description</label>
                <div *ngIf="f['description'].touched && f['description'].valid" class="valid-tooltip">Looks good!</div>
                <div *ngIf="f['description'].touched && f['description'].invalid" class="invalid-tooltip">
                  <div *ngIf="f['description'].errors && f['description'].errors['required']">Description is required.</div>
                </div>
              </div>
            </div>

            <div class="mb-0">
              <div class="d-flex justify-content-between">
                <a href="#" routerLink=".." class="btn btn-info">Back</a>
                <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

