<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Users</h3>
        </div>
        <div class="card-body">
          <table class="table align-middle">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Created At</th>
              <th>Updated At</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <th>{{ user.id }}</th>
              <td>{{ user.player?.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.player?.created_at }}</td>
              <td>{{ user.player?.updated_at }}</td>
              <td>
                <div class="justify-content-end d-flex my-1">
                  <div class="btn-group btn-group-sm">
                    <!--                    <button (click)="openUser(user)" class="btn btn-sm btn-info">Open</button>-->
                    <a href="#" [routerLink]="[user.id]" [state]="{data: {currentUser: user}}"
                       class="btn btn-sm btn-info">View</a>
                    <a href="#" [routerLink]="[user.id, 'edit']" [state]="{data: {currentUser: user}}"
                       class="btn btn-sm btn-warning">Edit</a>
                    <button (click)="deleteUser(user)" class="btn btn-sm btn-danger">Delete</button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12 my-2">
              <a href="#" routerLink="create" class="btn btn-sm btn-success">Create New User</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
