{
    # Debug
    # {$DEBUG}
    debug

    # auto_https off
    auto_https {$AUTO_HTTPS}
}

{$SERVER_NAME}

log

encode zstd gzip

handle_path /api/* {
    root * /srv/api/public
    php_fastcgi unix//var/run/php/php-fpm.sock
    file_server
}

handle_path /bundles/* {
    root * /srv/api/public/bundles
    file_server
}

handle {
    root * /srv/front
    try_files {path} /index.html
    file_server
}

# file_server
# root * /srv/front
# rewrite * /srv/front/index.html

### Partially works (only root page)
# root * /srv/front
# file_server

# handle_path /front {
#     root * /srv/api/front
#     file_server
# }
#
# handle / {
#     root * /srv/api/public
#     php_fastcgi unix//var/run/php/php-fpm.sock
#     encode zstd gzip
#     file_server
# }


#################################
# {$SERVER_NAME} {
# 	encode gzip zstd
#
# 	handle_path /front/* {
# 		root /srv/api/front
# 		file_server
# 	}
#
# 	route /* {
# 		root /srv/api/public
# 		uri strip_prefix /api

# 		try_files {path}.html

# 		file_server {
# 			hide 404.html
# 		}

# 		handle_errors {
# 			@404 expression `{http.error.status_code} == 404`
# 			try_files @404 /404.html
# 			file_server
# 		}
# 	}

# 	route {
# 		root content/resume
# 		file_server
# 	}
# }
